#This is the .gitignore file

#Ignore raw data - too heavy
data_files/

#Do not ignore the following in data files
!*/data_files/initial_data/barcodes/HaCat_A_barcodes.txt
!*/data_files/initial_data/barcodes/HaCat_A_barcodes.txt

!*/data_files/initial_data/chrM_unique.txt
!*/data_files/initial_data/Original_cell_cycle_genes_with_new_candidates.txt
!*/data_files/initial_data/smooth_params.txt


#Ignore for now, will release on publication
data_files/initial_data/loom_files/HaCat_A.loom
data_files/initial_data/loom_files/HaCat_B.loom


