#This is the .gitignore file

#Ignore raw data - too heavy
data_files/*
!data_files/initial_data
data_files/initial_data/*

!data_files/initial_data/chrM_unique.txt
!data_files/initial_data/Original_cell_cycle_genes_with_new_candidates.csv
!data_files/initial_data/smooth_params.txt

#Ignore for now, will release on publication
!data_files/initial_data/loom_files







data_files/initial_data/loom_files/jurkat_D.loom

data_files/initial_data/loom_files/HeLa_A.loom
data_files/initial_data/loom_files/HeLa_B.loom

data_files/initial_data/loom_files/HeLaKO_A.loom

!data_files/initial_data/barcodes
data_files/initial_data/barcodes/*

#Do not ignore the following in data files
!/data_files/initial_data/barcodes/HaCat_A_barcodes.txt
!/data_files/initial_data/barcodes/HaCat_B_barcodes.txt

!data_files/REAC_pathways

#Ignore logs
logs

#Ignore snakemake metadata
.snakemake

#Ignore R shenanigans
.rhistory
.Rhistory

#Ignore results
all_figures

#Ignore big TCGA file
R_scripts/TCGA_all_dta.rda

#Ignore unecessary R scripts
R_scripts/not_needed

#Ignore analysis results
analysis_results
delay_characterization

#Ignore cython folder
snake_scripts/snake_functions/__pycache__

#Ignore miR box results
miR_box
