#This is the .gitignore file

#Ignore raw data - too heavy
data_files/*
!data_files/initial_data
data_files/initial_data/*

!data_files/initial_data/chrM_unique.txt
!data_files/initial_data/Original_cell_cycle_genes_with_new_candidates.csv
!data_files/initial_data/smooth_params.txt

!data_files/initial_data/barcodes
data_files/initial_data/barcodes/*

#Do not ignore the following in data files
!/data_files/initial_data/barcodes/HaCat_A_barcodes.txt
!/data_files/initial_data/barcodes/HaCat_B_barcodes.txt

!data_files/REAC_pathways

#Ignore for now, will release on publication
data_files/initial_data/loom_files/HaCat_A.loom
data_files/initial_data/loom_files/HaCat_B.loom

#Ignore logs
logs

#Ignore snakemake metadata
.snakemake

#Ignore R shenanigans
.rhistory

#Ignore results
all_figures

#Ignore big TCGA file
R_scripts/TCGA_all_dta.rda
